/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Source Code Pro', sans-serif;
    line-height: 1.6;
    background-color: #1B1B1B;
    color: #ECECEC;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Navigation */
nav {
    background-color: #FFFDF8;
    color: #222222;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #222222;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

nav a:hover {
    background-color: #dadada;
    transform: scale(1.05);
}

/* Home Section */
#home {
    text-align: center;
    padding: 50px 0;
    background-color: #292929;
}

#home h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#home p {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* About Section */
.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-image {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.about-image img {
    max-width: 100%;
    height: 700px;
    border-radius: 5px;
}

.about-text {
    flex-basis: 50%;
    margin-top: 10px;
}

#about {
    padding: 50px 20px;
    color: #222222;
    background-color: #FFFDF8;
}

#about h2 {
    font-size: 42px;
    margin-bottom: 30px;
}

#about h3 {
    padding-bottom: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 10px;
}

/* Projects Section */
#projects {
    text-align: center;
    padding: 10px 10px;
    background-color: #1B1B1B;
}

.projectsAll {
    display: inline-block;
    align-items: center;
}

.project-card {
    display: inline-block;
    background-color: #FFFDF8;
    color: #222222;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 300px;
    min-height: 400px; 
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    
}
.project-card a {
    text-decoration: none;
}

.project-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
}

.project-card .project-content {
    min-height: 100px; 
}

.project-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #222222;
}

.project-card p {
    font-size: 16px;
    color: #222222;
    text-decoration: none;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* Skills Section */
#skills {
    text-align: center;
    padding: 20px;
    background-color: #292929;
}

#skills ul {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills li {
    background-color: #333333;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    color: #ECECEC;
}

/* Resume Section */
#resume {
    text-align: center;
    padding-bottom: 20px;
    background-color: #292929;
}

#resume a {
    display: inline-block;
    background-color: #222222;
    color: #ECECEC;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #222222;
    color: #ECECEC;
    text-align: center;
    padding: 10px 0;
}

/* Media Query for Small Devices */
@media only screen and (max-width: 768px) {
    .about-image {
        flex-basis: 100%;
        margin-right: 0;
    }

    .about-image img {
        height: auto;
    }

    .about-text {
        flex-basis: 100%;
        margin-top: 20px;
    }
}
